---
import BlogPreview from "./BlogPreview.astro";

interface BlogPost {
  frontmatter: {
    title: string;
    date: string;
  };
  url: string;
}

const allPosts = await Astro.glob<BlogPost>("../../pages/blog/*.md");
const recentPosts = allPosts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).getTime() -
      new Date(a.frontmatter.date).getTime()
  )
  .slice(0, 5);
---

<div id="recent-blogs" class="mt-16">
  <h2
    class="flex items-center text-2xl sm:text-3xl font-medium text-gray-100/80"
  >
    <span class="mr-4">📋 Blog</span>
    <span class="flex-grow h-px bg-white"></span>
  </h2>
  <BlogPreview posts={recentPosts} />
  <a
    href="/blog"
    class="text-xl text-gray-200 font-medium hover:underline hover:decoration-blue-300/30 hover:underline-offset-2 hover:text-blue-200/90 focus:outline-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500/70"
    >View all blog posts</a
  >
</div>
