---
interface Props {
  title: string;
  link: string;
}

const { title, link } = Astro.props;
---

<a href={link} target="_blank">
  <div
    class="cursor-pointer flex items-center overflow-hidden rounded-2xl bg-white/5 py-3 px-5 shadow-surface-elevation-low transition duration-300 hover:bg-white/10 hover:shadow-surface-elevation-medium"
  >
    <p class="text-lg text-gray-200/90">{title}</p>
  </div>
</a>
